includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - .php-cs-fixer.dist.php
        - tests/bootstrap.php
    phpVersion: 80400
    parallel:
        maximumNumberOfProcesses: 16

    #
    # Needed for doctrine projects
    #
    doctrine:
        objectManagerLoader: tests/phpstan/object-manager.php

    #
    # Needed for symfony projects
    #
    symfony:
        containerXmlPath: %currentWorkingDirectory%/var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/phpstan/console-application.php

    #
    # Needed when having php config files
    #
    scanDirectories:
        - var/cache/dev/Symfony/Config

    # @see https://github.com/phpstan/phpstan-strict-rules
    strictRules:
        allRules: true
#        allRules: false
#        disallowedLooseComparison: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: doctrine.associationType
        - identifier: doctrine.columnType
        - identifier: missingType.iterableValue
        - identifier: trait.unused
        - identifier: missingType.generics
